* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(233,255,249);
    background: linear-gradient(180deg, rgba(233,255,249,1) 0%, rgba(158,216,219,1) 100%);
    color: white;   
}

/* COLORS */
:root {
    --c-redMain: #D64045;
    --c-lighterBlue: #E9FFF9;
    --c-lightBlue: #9ED8DB;
    --c-blue: #467599;
    --c-darkBlue: #1D3354;
}