.cardContainer {
    text-align: center;
}

.bookCover {
    height: 400px;
    width: 200px;
    border-radius: 20px;
}

.title {
    display: flex;
    height: 10px;
}

.author {
    margin-bottom: 5vw;
}