.cardContainer {
    overflow: hidden;
    text-align: center;
    width: max-content;
    background-color: #e5f9e0;
    border-radius: 2vw;
    border: 5px solid #2f9c95;
    color: black;
}

.bookCover {
    height: 350px;
    width: 250px;
}

.imgWrapper {
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
    height: 350px;
}

.cardDivider {
    border: 5px solid #2f9c95;
}

.textWrapper {
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 1vw; 
}

.title {    
    height: 10px;
}

.btnWrapper {
    margin-bottom: 1vw;
}